* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f8;
}

.conteiner {
  text-align: center;
}

.conteiner h2 {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 25px;
}

.color {
  color: #49a6e9;
}

.bnt {
  background-color: transparent;
  padding: 8px;
  border: 2px solid #222;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: #222;
  cursor: pointer;
  outline: none;
}

.bnt:hover {
  background-color: #222;
  color: #ffffff;
  transition: all 0.275s ease-in; /*all это типо все элементы в боксе*/
}
