@import url('stylesheet.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Gilroy';
}

body{
    overflow-x: hidden;
}

.header-about-club{
    width: 100%;
    height: 263px;
    
    background-image: url(img/55fc92ff86636dc0802da8fc92dbe34c3de348e3.jpg);

    
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header-about-club::before {
  content: ""; /* Пустое содержимое для псевдоэлемента */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Чёрный цвет с прозрачностью 0.5 (от 0 до 1, где 1 — полностью чёрный) */
  z-index: 0; /* Помещаем оверлей под контентом */
}

.nav-block-about-club{
    padding-inline: 312px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-list-about-club{
        display: flex;
        padding-top: 43px;
    }

    .nav-list-about-club>ul{
        z-index: 1;
        gap: 40px;
        display: flex;
    }

    .nav-list-about-club>ul>li{
        list-style: none;
        font-size: 14px;
        font-weight: 500;
    }

    .nav-list-about-club>ul>li>a{
        text-decoration: none;
        color: #fff;
    }

    .logo-about-club{
        z-index: 1;
        padding-top: 40px;
    }

    .nav-btn-about-club{
        z-index: 1;
        padding-top: 35px;
        display: flex;
        gap: 20px;

    }
}

   .border-about-club{
   margin-top: 25px;
    border-width: 0.1vw;
    border-style: solid;
    border-color: #b3acac;
}

.header-title-about-club{
    width: 636px;
    height: 67px;
    padding-left: 45%;
    margin-top: 30px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.3;
    z-index: 1;
    position: relative;
    font-size: 28px;
}

.grid-conteiner-about-club{
    display: grid;
    margin-top: 80px;

  grid-template-columns: repeat(3, 1fr); /* 3 колонки одинаковой ширины */
  gap: 24px; /* Расстояние между элементами */
  margin-inline: 312px;

  .main-content-about-club{
    display: flex;
    flex-direction: column;
    width: 416px;
    height: 512px;

    border-style: solid;
    border-color: #F7ECE1;
    border-width: 0.1px;
    padding-inline: 40px;



    .img-conteiner-about-club{
        display: block;
        width: 336px;
        height: 240px;

        background-image: url(img/23d897357e5d84a18640ba953bb085dcdbfcadea.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        margin-top: 30px;

        
    }

    .date-month-about-club{
        display: block;
        width: 336px;
        height: 20px;
        margin-top: 25px;

    }

    .date-month-about-club p{
        font-size: 14px;
        font-weight: 400px;
        color: #33333380;
        
    }

    .main-text-main-content-about-club{
        width: 336px;
        height: 87px;
        margin-top: 15px;
    }
    
        .main-text-main-content-about-club p{
       font-size: 21px;
       line-height: 140%;
       font-weight: 600;
       color: #333333;
    } 

  }

  .button-main-content-about-club{
    display: flex;
    border-style: none;
    background-color: #8D86C9;

    width: 137px;
    min-height: 45px;
    align-items: center;
    padding-inline: 20px;
    margin-top: 20px;
    cursor: pointer;

  }

  .button-main-content-about-club>span>p{
    font-weight: 600;
    font-size: 18px;
    color: #fff;
  }

  .img-conteiner-about-club-2{
        display: block;
        width: 336px;
        height: 240px;

        background-image: url(img/bacb1dffab5986e44d18b8a50889a860a739e899.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        margin-top: 30px;    
  }

  .img-conteiner-about-club-3{
        display: block;
        width: 336px;
        height: 240px;

        background-image: url(img/46a38a90497769068963f75bbc3ea9401f3189d6.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        margin-top: 30px;        
  }

  .img-conteiner-about-club-4{
        display: block;
        width: 336px;
        height: 240px;

        background-image: url(img/9e08822405be2b039dbaebe061c80bfd1deac931.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        margin-top: 30px;     
  }

  .img-conteiner-about-club-5{
        display: block;
        width: 336px;
        height: 240px;

        background-image: url(img/a43d03452a3cf51c4eac576cf661565d7bc03bb6.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        margin-top: 30px;        
  }

  .img-conteiner-about-club-6{
        display: block;
        width: 336px;
        height: 240px;

        background-image: url(img/f1e86f14450f4ac005867169e369d025a429b071.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        margin-top: 30px;          
  }
}


.footer-about-club{
    display: flex;
    background-color: #F7ECE1;
    width: 100%;
    height: 96px;
    align-items: center;
    margin-top: 150px;

}

.left-footer-about-club{
    font-size: 14px;
    color: #85737344;
    font-weight: 500;
    margin-right: 104px;
    padding-left: 312px;
    
}

.central-footer-about-club ul{
    display: flex;
    gap: 40px;
    list-style: none;
    margin-right: 104px;
}


.central-footer-about-club>ul>li{
    font-size: 14px;
    color: #333333;
    font-weight: 500;
}

.right-footer-about-club{
    display: flex;
    gap: 19px;
}


